plugins = "{path}/new_decision.py"
# Global settings - most REQUIRED
time_framework = [2020, 2025, 2030, 2035, 2040, 2045, 2050]
regions = ["R1"]
currency = 'MUS$2010'
interpolation_mode = 'linear'
log_level = 'info'
excluded_commodities = ["wind", "solar"]
# Convergence parameters
equilibrium_variable = 'demand'
maximum_iterations = 10
tolerance = 0.1
tolerance_unmet_demand = -0.1

[[outputs]]
quantity = "prices"
sink = "aggregate"
filename = "{cwd}/{default_output_dir}/MCA{Quantity}.csv"

[[outputs]]
quantity = "capacity"
sink = "aggregate"
filename = "{cwd}/{default_output_dir}/MCA{Quantity}.csv"

[carbon_budget_control]
budget = []

[global_input_files]
projections = '{path}/Projections.csv'
global_commodities = '{path}/GlobalCommodities.csv'

[sectors.residential]
type = 'default'
priority = 1
dispatch_production = 'share'
technodata = '{path}/residential/Technodata.csv'
commodities_in = '{path}/residential/CommIn.csv'
commodities_out = '{path}/residential/CommOut.csv'

[sectors.residential.subsectors.all]
agents = '{path}/Agents.csv'
existing_capacity = '{path}/residential/ExistingCapacity.csv'
lpsolver = "scipy"  # Optional, defaults to "scipy"
constraints = [
    # Optional, defaults to the constraints below
    "max_production",
    "max_capacity_expansion",
    "demand",
    "search_space"
]
demand_share = "standard_demand"  # Optional, default to standard_demand

[sectors.power]
type = 'default'
priority = 2
dispatch_production = 'share'
technodata = '{path}/power/Technodata.csv'
commodities_in = '{path}/power/CommIn.csv'
commodities_out = '{path}/power/CommOut.csv'

[sectors.power.subsectors.all]
agents = '{path}/Agents.csv'
existing_capacity = '{path}/power/ExistingCapacity.csv'
lpsolver = "scipy"
demand_share = "standard_demand"

[sectors.gas]
type = 'default'
priority = 3
dispatch_production = 'share'
technodata = '{path}/gas/Technodata.csv'
commodities_in = '{path}/gas/CommIn.csv'
commodities_out = '{path}/gas/CommOut.csv'

[sectors.gas.subsectors.all]
agents = '{path}/Agents.csv'
existing_capacity = '{path}/gas/ExistingCapacity.csv'
lpsolver = "scipy"
demand_share = "standard_demand"

[sectors.residential_presets]
type = 'presets'
priority = 0
consumption_path = "{path}/residential_presets/*Consumption.csv"

[timeslices]
level_names = ["month", "day", "hour"]
all-year.all-week.night = 1460
all-year.all-week.morning = 1460
all-year.all-week.afternoon = 1460
all-year.all-week.early-peak = 1460
all-year.all-week.late-peak = 1460
all-year.all-week.evening = 1460
