on:
  schedule:
    - cron: 0 0 * * 0 # At 12:00 AM, only on Sunday
  repository_dispatch: # run manually
    types: [check-link]

name: Broken Link Check
jobs:
  check:
    name: Broken Link Check
    runs-on: ubuntu-latest
    steps:
      - name: Broken Link Check
        uses: ruzickap/action-my-broken-link-checker@v2
        with:
          url: https://muse-os.readthedocs.io/en/latest/
          cmd_params: '--timeout=20 --buffer-size=8192 --max-connections=3 --color=always --skip-tls-verification --header="User-Agent:curl/7.54.0"' # muffet parameters
