on:
  schedule:
    - cron: 0 0 * * 0 # At 12:00 AM, only on Sunday

jobs:

  regression-tests:
    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        python-version: ["3.8", "3.9"]

    steps:
      - uses: actions/checkout@v4
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip==22.1.2
          pip install -U setuptools==62.6.0 wheel xlrd==1.2.0
          pip install -e .[all]

      - name: Regression tests
        run: pytest pytest tests/test_fullsim_regression.py